.hero{
    height:420px;

    background-image:
    linear-gradient(rgba(15,23,42,.65),
    rgba(15,23,42,.65)),
    url("../assets/images/hotel_1.png");

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
}

.hero-overlay{
    width:100%;
}

.hero-content{
    color:white;
    text-align:center;
}

.hero-content h1{

    font-size:4rem;

    font-weight:700;

    margin-bottom:20px;
}

.hero-content p{

    font-size:1.25rem;

    color:#e5e7eb;

    max-width:700px;

    margin:auto;

    margin-bottom:35px;
}

.hero-btn{

    padding:15px 40px;

    border:none;

    border-radius:50px;

    background:#6d5dfc;

    color:white;

    font-size:18px;

    font-weight:600;

    transition:.3s;
}

.hero-btn:hover{

    background:#5947ff;

    transform:translateY(-3px);

    box-shadow:0 15px 35px rgba(109,93,252,.4);
}